.activity-item {
  padding: .375rem !important;
  .activity-basis {
    background-color: #EEF2EA;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  .activity-instance {
    .activityname {
      font-weight: 500;
    }
    .activityiconcontainer {
      width: 24px;
      height: 24px;
      margin-right: .5rem !important;
      background-color: transparent;
      &.assessment {
        background-color: #697F55;
      }
      .activityicon {
        height: 16px;
        width: 16px;
      }
      img[src*="image.php/classic/page/"],
      img[src*="image.php/classic/forum/"],
      img[src*="image.php/classic/url/"] {
        filter: invert(28%) sepia(39%) saturate(328%) hue-rotate(49deg) brightness(95%) contrast(92%);
      }
    }
  }
  .description .course-description-item:first-child {
    margin-top: .5rem;
  }
}
.course-content-item-content .my-3 {
  margin-bottom: 0 !important;
  margin-top: .325rem !important;
}
.sectionname {
  font-weight: 500;
}
.description .course-description-item {
  font-size: 1em;
}
